VITE_APPWRITE_URL = your-appwrite-url
VITE_APPWRITE_PROJECT_ID = your-appwrite-project-id
VITE_APPWRITE_DATABASE_ID= your-appwrite-database-id
VITE_APPWRITE_COLLECTION_ID=your-appwrite-collection-id
VITE_APPWRITE_BUCKET_ID=your-appwrite-bucket-id
